@font-face {
  font-family: 'Rosnou';
  src:  url('/Fonts/fonts/Rosnou.eot?txake4');
  src:  url('/Fonts/fonts/Rosnou.eot?txake4#iefix') format('embedded-opentype'),
    url('/Fonts/fonts/Rosnou.ttf?txake4') format('truetype'),
    url('/Fonts/fonts/Rosnou.woff?txake4') format('woff'),
    url('/Fonts/fonts/Rosnou.svg?txake4#Rosnou') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Rosnou' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left-32:before {
  content: "\e961";
}
.icon-absent-person-32:before {
  content: "\e904";
}
.icon-arrow-big-down-32:before {
  content: "\e95c";
}
.icon-arrow-big-left-32:before {
  content: "\e95d";
}
.icon-arrow-big-right-32:before {
  content: "\e95e";
}
.icon-arrow-big-up-32:before {
  content: "\e95f";
}
.icon-arrow-down-32:before {
  content: "\e960";
}
.icon-arrow-right-32:before {
  content: "\e962";
}
.icon-arrow-up-32:before {
  content: "\e963";
}
.icon-clock-32:before {
  content: "\e964";
}
.icon-conference-32:before {
  content: "\e965";
}
.icon-contest-cup-32:before {
  content: "\e966";
}
.icon-course-32:before {
  content: "\e967";
}
.icon-cross-32:before {
  content: "\e968";
}
.icon-diploma-32:before {
  content: "\e969";
}
.icon-drag-dots-32:before {
  content: "\e96a";
}
.icon-essey-32:before {
  content: "\e96b";
}
.icon-exclamation-32:before {
  content: "\e96c";
}
.icon-file-32:before {
  content: "\e96d";
}
.icon-graduation-cap-32:before {
  content: "\e96e";
}
.icon-info-32:before {
  content: "\e96f";
}
.icon-internship-32:before {
  content: "\e970";
}
.icon-location-32:before {
  content: "\e971";
}
.icon-medal-32:before {
  content: "\e972";
}
.icon-organization-32:before {
  content: "\e973";
}
.icon-person-at-the-desk-32:before {
  content: "\e974";
}
.icon-plus-32:before {
  content: "\e975";
}
.icon-print-32:before {
  content: "\e976";
}
.icon-published-article-32:before {
  content: "\e977";
}
.icon-reorder-32:before {
  content: "\e978";
}
.icon-research-32:before {
  content: "\e979";
}
.icon-science-32:before {
  content: "\e97a";
}
.icon-sport-category-32:before {
  content: "\e97b";
}
.icon-sport-event-32:before {
  content: "\e97c";
}
.icon-startup-32:before {
  content: "\e97d";
}
.icon-students-exchange-32:before {
  content: "\e97e";
}
.icon-ticked-list-32:before {
  content: "\e97f";
}
.icon-user-group-32:before {
  content: "\e980";
}
.icon-warning-32:before {
  content: "\e981";
}
.icon-arrow-angle-down-24:before {
  content: "\e901";
}
.icon-arrow-angle-left-24:before {
  content: "\e902";
}
.icon-arrow-angle-right-24:before {
  content: "\e903";
}
.icon-arrow-down-24:before {
  content: "\e905";
}
.icon-arrow-left-24:before {
  content: "\e906";
}
.icon-arrow-right-24:before {
  content: "\e907";
}
.icon-arrow-small-down-24:before {
  content: "\e908";
}
.icon-arrow-small-right-24:before {
  content: "\e909";
}
.icon-arrow-small-up-24:before {
  content: "\e90a";
}
.icon-arrow-up-24:before {
  content: "\e90b";
}
.icon-attachment-24:before {
  content: "\e90c";
}
.icon-back-24:before {
  content: "\e90d";
}
.icon-bell-24:before {
  content: "\e90e";
}
.icon-booklet-24:before {
  content: "\e90f";
}
.icon-calendar-24:before {
  content: "\e910";
}
.icon-caret-down-24:before {
  content: "\e911";
}
.icon-cash-machine-24:before {
  content: "\e912";
}
.icon-clock-24:before {
  content: "\e913";
}
.icon-cloud-24:before {
  content: "\e914";
}
.icon-columns-24:before {
  content: "\e915";
}
.icon-comments-24:before {
  content: "\e916";
}
.icon-copy-24:before {
  content: "\e917";
}
.icon-copyright-24:before {
  content: "\e918";
}
.icon-cross-24:before {
  content: "\e919";
}
.icon-dash-24:before {
  content: "\e91a";
}
.icon-documents-24:before {
  content: "\e91b";
}
.icon-dorms-24:before {
  content: "\e91c";
}
.icon-download-24:before {
  content: "\e91d";
}
.icon-drag-dots-24:before {
  content: "\e91e";
}
.icon-exclamation-mark-24:before {
  content: "\e91f";
}
.icon-exit-24:before {
  content: "\e920";
}
.icon-expand-24:before {
  content: "\e921";
}
.icon-external-link-24:before {
  content: "\e922";
}
.icon-file-24:before {
  content: "\e923";
}
.icon-graduation-cap-24:before {
  content: "\e924";
}
.icon-info-24:before {
  content: "\e925";
}
.icon-link-24:before {
  content: "\e926";
}
.icon-memory-stick-24:before {
  content: "\e927";
}
.icon-menu-dots-24:before {
  content: "\e928";
}
.icon-mobile-payment-24:before {
  content: "\e929";
}
.icon-paste-24:before {
  content: "\e92a";
}
.icon-pause-24:before {
  content: "\e92b";
}
.icon-payment-24:before {
  content: "\e92c";
}
.icon-pensil-24:before {
  content: "\e92d";
}
.icon-pensil-line-24:before {
  content: "\e92e";
}
.icon-play-24:before {
  content: "\e92f";
}
.icon-plus-24:before {
  content: "\e930";
}
.icon-print-24:before {
  content: "\e931";
}
.icon-question-mark-24:before {
  content: "\e932";
}
.icon-reload-24:before {
  content: "\e933";
}
.icon-ruble:before {
  content: "\e934";
}
.icon-save-24:before {
  content: "\e935";
}
.icon-score-24:before {
  content: "\e936";
}
.icon-shrink-24:before {
  content: "\e937";
}
.icon-sort-down-24:before {
  content: "\e938";
}
.icon-sort-up-24:before {
  content: "\e939";
}
.icon-spinner-24:before {
  content: "\e93a";
}
.icon-split-24:before {
  content: "\e93b";
}
.icon-tick-24:before {
  content: "\e93c";
}
.icon-trash-can-24:before {
  content: "\e93d";
}
.icon-user-group-24:before {
  content: "\e93e";
}
.icon-warning-24:before {
  content: "\e93f";
}
.icon-arrow-angle-down-16:before {
  content: "\e940";
}
.icon-arrow-angle-left-16:before {
  content: "\e941";
}
.icon-arrow-angle-right-16:before {
  content: "\e942";
}
.icon-arrow-angle-up-16:before {
  content: "\e943";
}
.icon-arrow-down-16:before {
  content: "\e944";
}
.icon-arrow-left-16:before {
  content: "\e945";
}
.icon-arrow-right-16:before {
  content: "\e946";
}
.icon-arrow-up-16:before {
  content: "\e947";
}
.icon-back-16:before {
  content: "\e948";
}
.icon-calendar-16:before {
  content: "\e949";
}
.icon-caret-down-16:before {
  content: "\e94a";
}
.icon-columns-16:before {
  content: "\e94b";
}
.icon-copy-16:before {
  content: "\e94c";
}
.icon-cross-16:before {
  content: "\e94d";
}
.icon-download-16:before {
  content: "\e94e";
}
.icon-exit-16:before {
  content: "\e94f";
}
.icon-filter-16:before {
  content: "\e950";
}
.icon-menu-dots-16:before {
  content: "\e951";
}
.icon-pensil-16:before {
  content: "\e952";
}
.icon-pensil-line-16:before {
  content: "\e953";
}
.icon-plus-16:before {
  content: "\e954";
}
.icon-ruble-16:before {
  content: "\e955";
}
.icon-sign-16:before {
  content: "\e956";
}
.icon-sort-down-16:before {
  content: "\e957";
}
.icon-spinner-colored-16:before {
  content: "\e958";
}
.icon-tick-16:before {
  content: "\e959";
}
.icon-trash-can-16:before {
  content: "\e95a";
}
.icon-warning-16:before {
  content: "\e95b";
}
.icon-arrow-angle-up-24:before {
  content: "\e982";
}
.icon-arrow-small-left-24:before {
  content: "\e983";
}
.icon-course-24:before {
  content: "\e900";
}
