body {
    font-family: 'Rosnou', sans-serif;
    font-size: 16px;
}

.custom-checkbox-container {
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.hidden-checkbox {
    opacity: 0;
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    background-color: #F8F9FB;
    width: 20px;
    height: 20px;
    border: 1px solid #D5E3F0;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox-icon-hover, .checkbox-icon-checked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.custom-checkbox:hover {
    background-color: #F0F5FB;
    box-shadow: 0px 0px 3px #D5E3F0;
}

.custom-checkbox:hover .checkbox-icon-hover{
    opacity: 1;
}

.custom-checkbox-container:focus-within .custom-checkbox{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px #D5E3F0;
}

.hidden-checkbox:checked + .custom-checkbox .checkbox-icon-checked {
    opacity: 1;
}

.custom-checkbox-container.error .custom-checkbox{
    border: 1px solid #EC6A71;
    background-color: #FEF7F8;
}

.custom-checkbox-container.error .checkbox-text {
    color: #EC6A71;
}

.custom-checkbox-container.disabled .custom-checkbox {
    background-color: #D5E3F0;
    border: 1px solid #ABBCD1;
}

.custom-checkbox-container.disabled-off .checkbox-text {
    color: #ABBCD1;
}

.custom-checkbox-container.disabled .hidden-checkbox:checked + .custom-checkbox .checkbox-icon-checked {
    opacity: 1;
}

.checkbox-label {
    font-size: 12px;
    font-weight: 100;
    user-select: none;
}