@media only screen and (max-width: 300px) {
    .sec-standard-text {
        font-size: 11px !important;
    }

    .standard-text,
    p,
    .mounth {
        font-size: 14px !important;
    }
}

body {
    font-family: 'Rosnou', sans-serif;
}

.card-container {
    max-width: 620px;
    border: 1px solid;
    border-radius: 10px;
    padding: 24px;
    margin: 10px;
    overflow: auto;
}

.date-card-container {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
}

.button-edit {
    border: none;
    background-color: transparent;
}

.education-card-container {
    display: inline-block;
    margin-top: 10px;
}

.add-info-card-container {
    margin-top: 20px;
}

.standard-text,
.sec-standard-text,
p {
    margin: 3px;
}

.sec-standard-text {
    font-size: 14px;
    color: #ABBCD1;
}

.standard-text,
p {
    font-size: 17px;
    color: #1B334D;
}

.mounth {
    font-size: 17px;
}

.date-text-container {
    width: 100%;
}

.date-button-edit-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}